
@{
    ViewBag.Title = "ForGetPassword";
}
<div ng-controller="ForgetPasswordController">
    <div id="sc-password">
        <div class="sc-container">
            <input type="number" placeholder="EmpCode" ng-model="EmpCode" />
            <input type="submit" value="Reset Password" ng-click="ResetPassword()" ng-required="true" />
            <div class="text-center" style="margin:auto;margin-top:4%;"><span style="color:green;font-weight: bold; font-size:12px;">{{StatusMessage}}</span></div>
        </div>
    </div>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/JsControllers/ForgetPasswordController.js"></script>
</div>
