
@{
    ViewBag.Title = "BusinessGoals";
}
<script>
    $(function () {

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image_upload_preview').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#inputFile").change(function () {
            readURL(this);
        });
        $(".dropdown").hover(
            function () {
                $('.dropdown-menu', this).stop(true, true).fadeIn("fast");
                $(this).toggleClass('open');
                $('b', this).toggleClass("caret caret-up");
            },
            function () {
                $('.dropdown-menu', this).stop(true, true).fadeOut("fast");
                $(this).toggleClass('open');
                $('b', this).toggleClass("caret caret-up");
            });
    });
    function showDetails() {
        var taleshowaa = '<div><h3 style="width:96%;text-align:center;float:left;">Team Details</h3><div style="font-weight:bold;font-size:16px;padding:0.5%;float:left;cursor:pointer;" onclick="javascript:return Close();" id="close">X</div><div style="clear:both"></div></div><table class="table"><thead></thead><tbody><tr><td>Facilitator</td><td>Rajasekhar</td><td>415268</td><td>CL & Lean</td><td>M05</td></tr><tr><td>Team Leader</td><td>Revathi</td><td>517583</td><td>CL & Lean</td><td>M04</td></tr><tr><td>Team Member</td><td>Sudha</td><td>785293</td><td>MNT</td><td>M04</td></tr><tr><td>Team Member</td><td>barghav</td><td>814298</td><td>Production</td><td>M05</td></tr><tr><td>Team Member</td><td>Sekhar</td><td>453298</td><td>Production</td><td>M05</td></tr><tr><td>Team Member</td><td>Lalitha</td><td>658392</td><td>QA</td><td>M04</td></tr></tbody></table><div style="text-align:center"><textarea style="width: 35%; height: 53px;margin: 1% 10% 1% 1%;border:1px solid #000;border-radius:5px;padding-left:5px;color:red;" placeholder="The Facilitor is not trained" value="The Facilitor is not trained" id="textareavalue"> Facilitator is not trained</textarea></div>';
        $(".body_blur").show();
        $(".showtableList").show().html(taleshowaa);

    }
    function Close() {
        $(".showtableList,.body_blur").hide();
    }
</script>
<style>
    .inputaddvalues {
        width: 100%;
        height: 30px;
        margin-top: 4px;
        font-size: 13px;
    }
</style>
<link href="~/Content/zebra_datepicker.css" rel="stylesheet" />
<div ng-controller="HomeController">
    <input type="hidden" value="@Session["empCode"]" id="myHiddenempCode" />
    <input type="hidden" value="@Session["roleId"]" id="myHiddenroleId" />
    <input type="hidden" value="@Session["empName"]" id="myHiddenempName" />
    <header>
        <nav class="navbar " style="padding:1%;padding-bottom:0px;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" style="padding:0px;"><img src="~/Img/logo.png" style="width:170px;" /></a>
                </div>
                <ul class="nav">
                    <li class="activeL Business_Goals HeaderHide" style="background: rgba(0, 123, 194,1);"><a href="/AReQCC/Home/BusinessGaols" style="color:#fff;" class="">Business Goals</a></li>

                    <li class=" Home HeaderHide"><a href="/AReQCC/Home/dashboard">Home</a></li>

                </ul>
                <div style="width: 20%;">
                    <div class="userDetailsLeft">
                        <div id="LoginDate" style="font-size: 12px;width: 200px;padding: 0% 0%;border-radius: 3px;text-align:right;font-weight: bold;"></div>
                        @*<img src="~/Img/avatar.jpg" style="width:35px;height:35px;" />*@
                        <div id="empcode" style="font-size: 12px;min-width: 200px;max-width: fit-content;margin-top:2px; padding: 1% 0%;border-radius: 3px;text-align:right;font-weight: bold;"></div>
                        <div class="text-primary" style="font-size:12px;font-weight:bold;margin-bottom: 15px;text-align:right;cursor:pointer;width:200px;text-decoration-line:underline;" ng-click="logout()">Sign Out</div>
                    </div>
                    <div class="userDetailsRight">
                        <img src="~/Img/avatar.jpg" style="width:55px;margin-top:5%;margin-left:15%;" />
                    </div>
                </div>
            </div>
        </nav>
    </header>
    </div>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/JsControllers/BusinesGoalsController.js"></script>
<div style="width:600px;">
    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
</div>
<div style="width:600px;">
    <div id="chartContainer1" style="height: 300px; width: 100%;"></div>
</div>
<div style="width:600px;">
    <div id="chartContainer2" style="height: 300px; width: 100%;"></div>
</div>
@*<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>*@
<script src="~/Scripts/JsControllers/canvasjs.min.js"></script>