

@{
    ViewBag.Title = "Change Password";
}
    <div ng-controller="ChangePasswordController">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->
        <style>
            .nav > li {
            transition: all .7s;
            border-radius: 5px;
            width: 200px;
            text-align: center;
            padding: 0.2%;
            color: #fff;
        }
            .pass_show {
                position: relative
            }

                .pass_show .ptxt {
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    z-index: 1;
                    color: #f36c01;
                    margin-top: -10px;
                    cursor: pointer;
                    transition: .3s ease all;
                }

                    .pass_show .ptxt:hover {
                        color: #333333;
                    }
        </style>
        <script>

            $(document).ready(function () {
                $('.pass_show').append('<span class="ptxt">Show</span>');
            });


            $(document).on('click', '.pass_show .ptxt', function () {

                $(this).text($(this).text() == "Show" ? "Hide" : "Show");

                $(this).prev().attr('type', function (index, attr) { return attr == 'password' ? 'text' : 'password'; });

            });
        </script>
        <input type="hidden" value="@Session["empCode"]" id="myHiddenempCode" />
        <input type="hidden" value="@Session["roleId"]" id="myHiddenroleId" />
        <input type="hidden" value="@Session["empName"]" id="myHiddenempName" />

        <header>
            <nav class="navbar " style=" padding-bottom: 5px; ">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#" style="padding:0px;"><img src="~/Img/logo.png" style="width:170px;" /></a>
                    </div>
                    <div class="nav" style="">
                        <ul class="nav">
                            <li class="Home HeaderHide"><a href="/AReQCC/Home/dashboard">Home</a></li>
                        </ul>
                    </div>
                    @*<div id="notificaicon">Status</div>
                    <div style="width:21%;height:40px;" id="notifiList"></div>*@
                    <div style="width: 20%;" id="rightSideMenu">

                        <div class="userDetailsLeft">
                            <div id="LoginDate" style="font-size: 12px;width: 200px;padding: 0% 0%;border-radius: 3px;text-align:right;font-weight: bold;"></div>
                            @*<img src="~/Img/avatar.jpg" style="width:35px;height:35px;" />*@
                            <div id="empcode" style="font-size: 12px;min-width: 200px;max-width: fit-content;margin-top:2px; padding: 1% 0%;border-radius: 3px;text-align:right;font-weight: bold;"></div>
                            <div class="text-primary" style="font-size:12px;font-weight:bold;margin-bottom: 15px;text-align:right;cursor:pointer;width:200px;text-decoration-line:underline;" ng-click="logout()">Sign Out</div>
                        </div>
                        <div class="userDetailsRight">
                            <img src="~/Img/avatar.jpg" style="width:55px;margin-top:5%;margin-left:15%;" />
                        </div>
                    </div>
                    @*<button class="btn btn-primary" style="font-size:12px;font-weight:bold;margin-bottom: 15px;" ng-click="logout()"><img src="~/Img/logout.png" style="width: 18px;margin-right: 5px;" />Logout</button>*@
                </div>
            </nav>
        </header>
        <h1 style="text-align:center">Change Password</h1>
        <div class="container">

            <div class="row">

                <div class="col-sm-13 col-md-4 col-lg-4 m-auto pt-5">

                    <label>Current Password</label>
                    <div class="form-group pass_show">
                        <input type="password"  class="form-control" placeholder="Current Password" name="CurrentPassword" ng-model="CurrentPassword">
                    </div>
                    <label>New Password</label>
                    <div class="form-group pass_show">
                        <input type="password" class="form-control" placeholder="New Password" name="NewPassword" ng-model="NewPassword">
                    </div>
                    <label>Confirm Password</label>
                    <div class="form-group pass_show">
                        <input type="password" class="form-control" placeholder="Confirm Password" name="CNewPassword" ng-model="CNewPassword">
                    </div>
                    <button class="btn btn-primary font-weight-bold" ng-click="savePassword()">Save Password</button>
                </div>
            </div>
        </div>

        <script src="~/Scripts/JsControllers/angular.js"></script>
        <script src="~/Scripts/JsControllers/ChangePasswordController.js"></script>
        <script src="~/Scripts/ui-bootstrap-tpls-0.13.4.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>


        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    </div>